CompileFlags:
  Add:
    - -DARDUINO=10819
    - -DARDUINO_ARCH_ZEPHYR
    - -std=c++17
    - -Wno-unknown-warning-option
Diagnostics:
  Suppress:
    - drv_unknown_argument
    - expected_compiler_job
