# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Data & Models (Keep small tflite, ignore huge raw recordings)
*.npy
*.h5

# IDE & OS
.vscode/
.idea/
*.swp
*~
.DS_Store
Thumbs.db

# Arduino temporary build files
*.hex
*.bin
*.elf
